.App {
  text-align: center;
}

.headerContainer {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.formContainer {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.formField {
  text-align: left;
  margin-top: 1rem;
  margin-bottom: 1rem;
  align-items: center;
  width: 250px;
  padding: 10px;
}

.formField:hover {
  background-color: goldenrod;
}

.inputFieldStyle {
  justify-self: left;
  margin-top: 0.5rem;
}

.buttonStyle {
  margin-top: 1rem;
  width: 50px;
}

.error {
  color: red;
  font-size: 10px;
}

@media only screen and (max-device-width: 480px) {
  .formContainer {
    flex-direction: column;
  }
}